.trabajando{
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding: 50px 0;
    background-color: #fefefe;
}

.trabajando__contenedor-titulo{
    width: 70%;
    text-align:center;
    color: #777;
}

.trabajando__titulo{
    font-size:30px;
    font-weight:300;
}
.trabajando__subtitulo{
    font-size:25px;
    font-weight:300;
}

.trabajando__gif{
    width: 50%;
    padding-top:50px;
}

.trabajando__link:link,
.trabajando__link:visited,
.trabajando__link:active{
    padding: 5px 10px;
    color:white;
    background-color: #2b353e;
    border-radius:3px;
    transition:all .2s;
}

.trabajando__link:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba( 0, 0,0,.5);
}   