body.custom-background {
    background-image: url("../images/fondoweb.jpg");
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.userAut{
	float: left;
	font-family: "Oswald",sans-serif;
    font-weight: normal;
	color: rgba(255, 255, 255, 0.7);
	font-size: 14px;
    padding: 0.625em 10px;
	cursor: pointer;
}

.menuIz{
	float: left;
    padding: 10px 0 10px 15px;
    font-size: 12px;
    font-family: "Oswald",sans-serif;
    width: 5%;
	cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.menuC{
    float: left;
    padding: 5px;
    width: 90%;
    text-align: center;
}

.menuDe{
	float: right;
    padding: 5px 0 0 15px;
    font-size: 12px;
    font-family: "Oswald",sans-serif;
    width: 5%;
	cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.menug{
	font-family: "Oswald",sans-serif;
    font-weight: normal;
	color: rgba(255, 255, 255, 0.7);
	font-size: 12px;
    padding: 0.625em 10px;
	cursor: pointer;
}

.menug:hover{
	background-color: #555555;
}

.sp-footer-sponsors {
	background: #f4f4f4;
	color: #363f48;
}
.sp-footer-sponsors .sp-sponsors .sp-sponsors-title {
	color: #363f48;
}

.formD{
	text-align: right;
	width: 35%;
}

.formC{
	text-align: left;
}

#div_inscribir{
	text-align: center;
}

#div_inscribir #botonInscribir:disabled{
	background:#CCCCCC;
	cursor: no-drop;
}

.error{
	color:red;
	padding: 10px;
}

#divWellcome{
	 padding: 0 28px 0 35px;
    text-align: justify;
}

#botonPago{
	font-size: 12px;
    padding: 2px 15px;
}

#tbpagos{
	border: 1px solid black;border-collapse: collapse;
}

#tbpagos td{
	font-size: 11px; 
	text-align: center; 
}

#tbpagos th{
	font-size: 11px; 
	text-align: center; 
	background-color:#dedede;
	font-weight: bold;
}

.msgerror{
	height: 48px;
	padding: 10px;
	text-align: center;
    font-size: 11px; 
}

table.display td {
    font-size: 11px; 
}

table.display thead th {
    font-size: 10px; 
}

.dataTables_wrapper  {
    font-size: 12px; 
}

.clickable-row{
    cursor: pointer;
}

.clickable-row :hover{
     background-color: #c1c1c1;
}

.cruzelim{
	cursor: pointer;
}

.eq-izq{
    width: 30%;
    padding: 15px;
    float:left;
    font-size: 11px;
}

.eq-der{
    float: left;
	min-height: 400px;
    padding: 15px;
    width: 70%;
    font-size: 11px;
}

.eq-sup{
    width: 100%;
    padding: 15px;
}

.divtablaeq{
    width: 45%;
    float:left;
    padding: 10px;
    border-color: gray;
    border-style: solid;
    border-width: 1px;
    margin: 3px;
}

.divtablaeq td, th{
    font-size: 10px;
}

.eq-izq td{
    font-size: 10px;
}


.connectedSortable td, .ui-sortable-helper {
    cursor: move;
}

.connectedSortable th{
    background-color: #c1c1c1;
}

.elimequipo{
	cursor: pointer;
    float: right;
}

.editaequipo{
    font-size: 10px;
    padding: 0;
    float: right;
    margin: 0 10px 3px;
}

#tbfixture th, #tbfixture td{
    font-size: 10px;
}

