.ui-widget-overlay{
    background-color: rgba( 0 ,0 ,0) !important;

}

.ui-dialog div.ui-dialog-titlebar{
    background:transparent;
    border:none;
}

div.ui-dialog{
    background:#f7F7f7;
    box-shadow: 0 10px 20px rgba(0,0,0,.8);
}

.modal__titulo{
    text-align:center;
    color:#333;
    font-size: 25px
}