<h3>M3A: Las posiciones en las zonas se definiran por puntos. En caso de igualdad de puntos, se desempatará teniendo en cuenta el resultado del partido entre los equipos en cuestión, diferencia de goles y mayor cantidad de goles a favor en ese orden</h3>
<h3> M3B: En caso de empate en los partidos, se definirán por penales</h3>