<h1>NI&Ntilde;OS JUGANDO</h1>

<p>
	
	Por favor, rogamos a todos los que ingresen al club en veh&iacute;culos motorizados que circulen por las v&iacute;as habilitadas a tal fin. Los que lo hagan en moto, sepan que est&aacute; prohibido circular con ellas por el interior del predio, contando el club con un estacionamiento especial que se encuentra frente a la puerta de ingreso al bar.</p>
 
<p>Les recordamos que la velocidad m&aacute;xima dentro del club es de 10 km/hora y que los peatones (familias) tienen prioridad de paso. Asimismo, les informamos que, a los efectos de agilizar el tr&aacute;nsito, el club ha dispuesto que el ingreso con veh&iacute;culos se realice por la calle Francia y el egreso por Coster. Finalmente, les solicitamos a quienes estacionen sus autom&oacute;viles en las calles Francia o Coster, que no lo hagan en ambas veredas ya que son muy angostas y entorpecer&iacute;an significativamente el flujo vehicular.-</p>
 
<p>Disfruten el campeonato.<br>
CRBV.-
</p>